@font-face {
    font-family: 'poppins-reg';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-light';
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf');
}


:root {
    overflow-x: hidden;
}

:root::-webkit-scrollbar {
    width: 1em;

}
   
:root::-webkit-scrollbar-track {
    margin-left: 1px;
    margin-right: 1px;
    background: linear-gradient(180deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);
}
   
:root::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 10px;
}

* {
    padding : 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);
    font-family: 'poppins-reg', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 400px 1fr 200px;
    grid-template-rows: 1fr;
    padding: 10px;
    width: 100vw;
    background: transparent;
}

header > * {
    display: flex;
    align-items: center;
    gap: 5px;
}

.title-div {
    grid-area: 1 / 1 / 2 / 2;
}

.title-div > h1 {
    font-size: 2.5rem;
    color: #fcd34d;
    text-shadow: 2px 2px 2px #242424;
}

.logo {
    height: 50px;
}

.search-div {
    grid-area: 1 / 2 / 2 / 3;
}

.search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-icon {
    height: 2rem;
    position: relative;
    right: 125%;
}

form {
    height: 100%;
    display: flex;
}

input[type=search] {
    width: 57vw;
    border-radius: 5px;
    background: linear-gradient(-45deg, rgb(3, 67, 131, 0.8), rgb(2, 27, 121, 0.8));
    color: #fafafa;
    font-size: 1.5rem;
    padding: 0px 5px;
    border: none;
    box-shadow: 2px 2px 2px #444444;
}

input[type=search],
.card {
    box-shadow: 4px 4px 4px #c9c7c7;
}

input[type=search]::placeholder {
    color: #fafafa;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type=checkbox] {
    position: relative;
    right: 100%;
}

main {
    width: 100vw;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
    min-height: fit-content;
}

.search-div form {
    position: relative;
}

#autocomp {
    position: absolute;
    top: 125%;
    visibility: hidden;
    background-color: #fafafa;
    width: 97%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    z-index: 1;
    overflow: hidden;
}

.autocomp-suggestion {
    cursor: pointer;
    height: 2rem;
    font-size: 1.3rem;
    padding: 5px 10px;
}

.autocomp-suggestion.selected,
.autocomp-suggestion:hover {
    background-color: #ebebeb;
}

.card {
    height: 150px;
    background: linear-gradient(-45deg, rgb(3, 67, 131, 0.8), rgb(2, 27, 121, 0.8));
    border-radius: 10px;
    padding: 10px;
}

.main-card {
    width: 50vw;
    /* height: 90%; */
    min-height: fit-content;
    background: transparent;
    border-radius: 1.5rem;
    color: #fafafa;
    padding: 10px;
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: repeat( auto-fit, minmax(70px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    flex-grow: 1;
}

.weather-heading {
    grid-area: 1 / 1 / 2 / 3;
}

.location {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff1eb;
    font-family: 'poppins-light', sans-serif;
}

.hourly-heading,
.forecast-heading {
    margin-top: 20px;
} 

.toggle-switch {
    box-shadow: 1px 0px 1px #c9c7c7;
}

.current-weather {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: space-evenly;
    width: 15vw;
}

.temp-card {
    grid-area: 2 / 2 / 3 / 3;
}

.current-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.current-temp {
    font-size: 3rem;
    color: #fcd34d;
    font-weight: bold;
    display: inline-block;
    text-shadow: 2px 2px 2px #242424;
}

.temp-unit {
    font-size: 2rem;
    color: #fcd34d;
    vertical-align: top;
}

.feels-like {
    width: 10ch;
    font-size: 1.1rem;
}

.current-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-weather-img {
    width: 100px;
    position: relative;
    top: -10px;
}

.current-condition {
    position: relative;
    top: -10px;
    font-size: 1.2rem;
}

.current-info-card {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    padding: 20px 0px;
}

.val {
    font-size: 1.3rem;
    margin-top: 2px;
}

.wind-val,
.wind-dir {
    display: inline;
}

.hourly-heading {
    grid-area: 3 / 1 / 4 / 3;
    align-self: center;
    font-size: 1.4rem;
}

.hourly-card {
    grid-area: 4 / 1 / 5 / 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    height: auto;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 0px;
    padding-bottom: 10px;
}

.hourly-card::-webkit-scrollbar {
    width: 1em;

}
   
.hourly-card::-webkit-scrollbar-track {
    margin-left: 1px;
    margin-right: 1px;
    background-color: transparent;
}
   
.hourly-card::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    border-radius: 10px;
}

.hourly {
    display: grid;
    grid-template-rows: repeat( auto-fit, minmax(20px, 1fr) );
    align-items: center;
    justify-items: center;
    width: 105px;
    row-gap: 8px;
}

.hourly > * {
    max-width: 10ch;
    text-wrap: wrap;
    text-align: center;
}

.hourly-day {
    font-size: 1.1rem;
    align-self: end;
}

.hourly-hour {
    align-self: start;
    font-size: 1.4rem;
}

.hourly-icon {
    width: 100px;
}

.hourly-condition,
.hourly-feelslike {
    align-self: start;
}

.hourly-temp {
    font-size: 1.5rem;
}

.hourly-condition,
.hourly-feelslike {
    text-wrap: wrap;
}

.forecast-heading {
    grid-area: 5 / 1 / 6 / 3;
    align-self: center;
    font-size: 1.4rem;
}

.forecast-card {
    grid-area: 6 / 1 / 7 / 3;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    height: 250px;
    text-align: center;
}

.forecast {
    display: grid;
    grid-template-rows: repeat( auto-fit, minmax(50px, 1fr) );
    align-items: center;
    justify-items: center;
    height: 200px;
}

.forecast-day {
    font-size: 1.5rem;
    align-self: start;
}

.forecast-icon {
    width: 100px;
}

.forecast-temps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    column-gap: 12px;
}

.forecast-avg {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fcd34d;
    position: relative;
    top: -10px;
}

.forecast-min {
    grid-area: 2 / 2 / 3 / 3;
}

.forecast-max {
    grid-area: 2 / 1 / 3 / 2;
}

footer {
    height: 50px;
    width: 100vw;
    background-color: #60a5fa;
    color: #fafafa;
}

.footer-overlay {
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    align-items: center;
    justify-content: center;
}

.github-logo {
    position: relative;
    top: 5px;
    height: 20px;
}